// General Styles

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eae7e2;
}

h1 {
  font-family: "Doppelganger";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  color: #54482c;
  margin: 0;
}

.arrow {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.arrow-down {
  text-align: center;
  border: solid #54482c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-down:hover {
  border: solid #f9bb57;
  border-width: 0 3px 3px 0;
  transition: 0.3s;
}

.about,
.projects,
.contact {
  background-color: #eae7e2;
  height: 100vh;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
