// General Styles

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eae7e2;
}

h1 {
  font-family: "Cako";
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  color: #54482c;
  margin: 0;
}

.arrow {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.arrow-down {
  text-align: center;
  border: solid #54482c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-down:hover {
  border: solid #f9bb57;
  border-width: 0 3px 3px 0;
  transition: 0.3s;
}

.about,
.skills{
  background-color: #eae7e2;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

h4 {
  font-family: 'Cako';
  font-weight: lighter;
  font-size: 1.2rem;
  padding-bottom: .5rem;
  color: #54482c;
}

  h3 {
    font-family: "Cako";
    text-align: center;
    font-size: 3rem;
    color: #514425;

  }

 