// Header Styles

header {
  background-color: #eae7e2;

  .header-flex {
      display: flex;
      justify-content: space-between;
  }  

  .nav-ul {
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    padding: 1rem;
  }

  li a {
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #54482c;
  }

  a:hover{
      color: #F9BB57;
      transition: .3s;
  }
}
