// Projects & Toolkit Styles

.skills {
  background-color: #d9e5de;

  h3{
    padding-top: 2rem;
  }

  .toolkit {
    margin: 15vh 0 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    border-left: solid 1px #514425;
    margin-bottom: 5rem;
  }

  .icon-container {
    width: 25%;
    display: flex;
    flex-direction: column;
  }

  i {
    color: #514425;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  li:hover,
  i:hover {
    transition: 0.3s;
  }

  i:hover:not(.arrow-down) {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  p {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
}

.projects {

  h1 {
    text-align: center;
    padding-top: 1rem;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 550px;
    height: auto;
  }

  .project1,
  .project2,
  .project3 {
    display: flex;
    flex-direction: row;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    line-height: 26px;

    p {
      font-size: 0.8rem;
      text-align: justify;
      padding-bottom: 1rem;
      color: #514425;
    }

    .made-with {
      text-transform: uppercase;
    }
    a{
        text-decoration: none;
        color: #514425;
        text-transform: uppercase;
        
    }

    a:hover{

      color: #4D9796;
      transition: .3s;

    }

    .links{
        display: flex;
        gap:1rem;
        border-top: 1px solid #d9d9d9;
        padding-top: 15px;
    }
  }
}